// TODO break this file apart into multiple files

// Catppuccin Macchiato
// https://github.com/catppuccin/palette/blob/main/scss/_macchiato.scss
$rosewater: #f4dbd6;
$flamingo: #f0c6c6;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

@mixin color-button($color) {
    color: $color;
    background-color: rgba($color, 0.15);

    &:hover {
        background-color: rgba($color, 0.1);
    }

    padding: 0.1em 0.4em 0 0.4em;
    border-radius: 0.4em;

    border: none;
    outline: none;
}

@mixin icon {
    font-size: $font_size * 1.15;
    font-weight: normal;
    letter-spacing: -0.125em;
}

$vertical-margin: 0.4em;
$spacing: 0.4em;

* {
    font-family: $font_family;
    font-size: $font_size;
    font-weight: bold;
}

.window {
    background: $background;
}

.bar {
    margin: $vertical-margin $outer_padding;

    // Spacing between components
    > * > * + * {
        margin-left: $spacing;
    }
}

.iconbutton {
    .icon {
        @include icon;
    }

    .label {
        margin-left: 0.2em;
    }
}

button {
    @include color-button($text);
}

//
// Panel
//
$popup-distance: $vertical-margin;
$panel-margin-top: $vertical-margin;
$panel-shadow-offset-y: 0.1em;
$panel-shadow-blur-radius: 0.25em;
$panel-shadow-color: rgba(black, 0.6);
@keyframes popup {
    from {
        transform: translateY($panel-margin-top);
        opacity: 0;
    }
    to {
        transform: translateY($panel-margin-top + $popup-distance);
        opacity: 1;
    }
}
popover  {
    padding-left: $panel-shadow-blur-radius;
    padding-right: $panel-shadow-blur-radius;
    padding-bottom: $panel-shadow-blur-radius + $popup-distance;

    contents {
        border: none;
        border-radius: 0.4em;
        box-shadow: 0
                    $panel-shadow-offset-y
                    $panel-shadow-blur-radius
                    $panel-shadow-color;
    }

    &.visible contents {
        animation: popup 160ms ease-out forwards;
    }
}


.time { @include color-button($mauve); }
.volume { @include color-button($sapphire); }
.mouse { @include color-button($green); }
.workspaces { @include color-button($red); padding: 0; }
